<div class="navbar navbar-default navbar-static-top">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KendoUI - AMD</a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="viewModelMenu">
          <ul data-template="listMenu" data-bind="source: menus" class="nav navbar-nav"></ul>
          <script id="listMenu" type="text/x-kendo-template">
            <li><a href="#= link #">#= text #</a></li>
            </script>
        </div>
    </div>
</div>
