<div class="home cover-container">

    <div class="inner cover">
    <img src="images/logo.png" alt="logo"/>

    <h1 class="cover-heading" data-bind="text: title"></h1>

        <p class="lead" data-bind="html: lead"></p>

        <p class="lead">
      <a href="#/details" class="btn btn-lg btn-default">Learn more</a>
    </p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <p>Inpired by <a href="https://github.com/kendo-labs/generator-kendo-ui" target="_blank">Generator-kendoui</a></p>

      <p>Using <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>, <a
        href="http://www.telerik.com/kendo-ui" target="_blank">KendoUI</a>, <a href="http://requirejs.org/"
                                                                               target="_blank">Requirejs</a> and many
        others. By <a href="https://twitter.com/newaeonweb">@newaeonweb</a>.</p>
    </div>
  </div>
</div>

